<div class="main-content">

  <div class="brand-logos">
    <%= image_tag "logos.png", size: '500x80', class: 'image-fluid' %>
  </div>

  <div class="entry-form">
    <%= flash_messages %>
    <%= simple_form_for @entry do |f| %>

      <h4>Your mobile number:</h4>
      
      <%= f.input :number,
        label: false,
        input_html: { 
          class: 'form-control-lg mb-3 mt-2',
          autofocus: true,
          type: 'number'
        },
        placeholder: "Your mobile number..." %>

      <h4>Your email address:</h4>

      <%= f.input :email,
        label: false,
        input_html: { 
          class: 'form-control-lg mb-3 mt-2'
        },
        placeholder: "Your email address..." %>        

        <%= button_tag "Enter Now", class: 'btn btn-lg btn-block btn-primary'%>

    <% end %>
  </div>
</div>

<%= render 'modals/success' %>
<%= render 'modals/failure' %>